.container {
    width:40%;
    margin:auto;
    margin-top: 10%;
    padding: 0px 25px 40px 10px;
    background-color: #e9ecf0;
    border:1px solid #f7fbfc;
    border-radius:5px;
    color: #FFFFFF;
    font-weight: bold;
    box-shadow: 5px 5px 5px #888;
    top: 50%;
    position: relative;

}
.moreInfo{
    text-align: center;
    color: black;
}
.title {
    text-align: center;
    color: black;
}
.question{
    text-align: center;
    color: black;
}
.buttons > button{
    background-color: #0f1dc0;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
.buttons{
    display: grid;
    justify-content: space-around;
    align-items: baseline;
    grid-template-columns: auto auto;
    column-gap: 10px;
    row-gap: 10px;
}
.nextButton > button{
    background-color: #0f1dc0;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    position:absolute;
    right: 0px;
    bottom: 0px;
}
